

{% extends 'blog/base.html' %}
{% block contenido %}

    <p style="text-align:center">
    Somos un equipo que disfrutamos de viajar y compartir nuestras experiencias de viaje. 
    Puntualmente quedamos fascinados con Suecia, sus costumbres, sus paisajes y la calidez de sus habitantes. 
    Por ello hemos decidido crear este blog que espero que disfruten y sea enriquecedor.
    Cualquier comentario nos pueden contactar a la casilla de correo sueciacorazon@gmail.com.
    Gracias y a viajar! 
        

    </p>
 {% endblock %}